<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879762769549-oq5iv7h9641qtv5c1b2obf5jtm8d3151.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879762769549-oq5iv7h9641qtv5c1b2obf5jtm8d3151</string>
	<key>API_KEY</key>
	<string>AIzaSyCBNj0U-gP4qsRjXvEX_5rmVaUSegeXexw</string>
	<key>GCM_SENDER_ID</key>
	<string>879762769549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SashalmiImre.Andrew</string>
	<key>PROJECT_ID</key>
	<string>andrew-22b48</string>
	<key>STORAGE_BUCKET</key>
	<string>andrew-22b48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879762769549:ios:b8cb96a6d229da132984c4</string>
	<key>DATABASE_URL</key>
	<string>https://andrew-22b48.firebaseio.com</string>
</dict>
</plist>