<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabasePath</key>
	<string>/Users/sashalmiimre/Desktop/DB</string>
	<key>temp</key>
	<string>/Users/sashalmiimre/Library/Containers/SashalmiImre.Andrew/Data/Library/Application Support/Andrew</string>
	<key>temp2</key>
	<string>/Users/sashalmiimre/Desktop/DB</string>
</dict>
</plist>
